In [3]:
import pandas as pd

In [4]:
#2 main datatypes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [5]:
#series = 1-dimmensional
#think of this as a vector

In [6]:
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

In [8]:
# Data frames = 2-dimmensional 
#think of this as a matrix
car_data = pd.DataFrame({"Car make": series, "Colour": colors})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [2]:
#rather than creating tables manually you'll import data
#import data
car_sales = pd.read_csv("car-sales.csv")

NameError: name 'pd' is not defined

In [11]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [1]:
#Exporting a dataframe
car_sales.to_csv("exported-car-sales.csv")

NameError: name 'car_sales' is not defined